img {
	width: 500px;
	height: 500px;
	display :block; margin : 0px auto;


}
.smalltitle {
	font-size: 30px;
}
*{
font-family: 'Noto Sans KR', sans-serif;}

.block {
    border-top: 3px solid #ccc;
    padding: 30px;
    margin-top: 20px;
}

.space {
	border-top: 17px solid #ccc;
}